.section {
	display: flex;
	gap: 30px;
	justify-content: center;
	position: relative;
}

.aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 15px;
	left: 50px;
}

.line {
	margin-top: 10px;
	width: 300px;
	height: 1px;
	background-color: grey;
}
